@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiTextField-root{
    border-color: black;
    color: white;
}


.login-body{
    margin-top: 12%;
}


.alert {
    border-radius: 10px;
    position: absolute;
    top: 80px;
    right: 25px;
    display: flex;
    align-items: center;
    z-index: 1111;
    width: 320px;
    height: 85px;

}


.app section{
    margin: 0 auto;
}


.app{
    margin-top: 5rem;
}


/* footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
} */



tbody tr:nth-child(even){}



.MuiOutlinedInput-notchedOutline{
    border-color: white;
}

.MuiFormLabel-root{
    /* color: antiquewhite; */
    color: white;
}

.MuiInputBase-input{
    color: white;
}