@tailwind base;
@tailwind components;
@tailwind utilities;


.alert {
    border-radius: 10px;
    position: absolute;
    top: 80px;
    right: 25px;
    display: flex;
    align-items: center;
    z-index: 1111;
    width: 320px;
    height: 85px;

}


.app section{
    margin: 0 auto;
}


.app{
    margin-top: 5rem;
}


/* footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
} */