@tailwind base;
@tailwind components;
@tailwind utilities;



 .alert {
    border-radius: 10px;
    position: absolute;
    top: 80px;
    right: 25px;
    display: flex;
    align-items: center;
    z-index: 1111;
    width: 320px;
    height: 85px;

    }

    /*.alert p {
    margin: 0;
    font: bold;
    }

    .alert-error {
    background: lightcoral;
    border-radius: 0.25rem; 
    border-width: 1px; 
    border-color: #F87171; 
    background-color: #FEE2E2; 
    font: bold;

    }

    .alert-success {
    background: #51a315;
    }

    .close {
        cursor: pointer;
        margin-right: 10px;
        width: 1.5rem; 
        height: 1.5rem; 
        color: #EF4444; 
        fill: currentColor; 
    } */


.app section{
    margin: 0 auto;
}

/* footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
} */